html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
    overflow-y: hidden;
}

.cont {
  height: 100%;
}

#map {
  height: 100%;
}

.search-box {
  width: 100%;
}

.title {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.info {
  font-weight: bold;
}

.sub-title {
  text-align: center;
}
